<div class="h-screen flex flex-col">
    <div class="flex flex-1">
        <aside class="w-72 bg-zinc-950 p-6">
            <nav class="space-y-5">
                <a href="" class="flex items-center gap-3 text text-xs font-semibold text-zinc-200"><lucide-icon name="Home" class="my-icon"></lucide-icon>Início</a>
                <a href="" class="flex items-center gap-3 text text-xs font-semibold text-zinc-200"><lucide-icon name="Search" class="my-icon"></lucide-icon>Buscar</a>
                <a href="" class="flex items-center gap-3 text text-xs font-semibold text-zinc-200"><lucide-icon name="Library" class="my-icon"></lucide-icon>Sua Biblioteca</a>
            </nav>

            <nav class="mt-10 pt-5 border-t border-zinc-800 flex flex-col gap-0.5">
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/musicas_curtidas.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Músicas Curtidas</span>
                        <a href="" class="flex items-center text-zinc-400 text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/melhores_musicas.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Melhores Músicas</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/abertura.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Abertura</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/pop.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Pop</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/quero_ferias.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Quero Férias</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/kpop.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">K-Pop</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/melhores_rocks.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Melhores Rocks</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/dreamcatcher.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Dreamcatcher</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
                <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md">
                    <div>
                        <img ngSrc="assets/top50_korea.png" width="50" height="50" alt="" class="rounded-md" />
                    </div>
                    <div class="flex flex-col">
                        <span class="">Top 50 - Coreia Do Sul</span>
                        <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                    </div>
                </div>
            </nav>
        </aside>

        <main class="flex-1 p-6">
            <div class="flex items-center gap-4">
                <button class="p-1 rounded-full bg-black/40">
                    <lucide-icon name="ChevronLeft" class="my-icon"></lucide-icon>
                </button>
                <button class="p-1 rounded-full bg-black/40">
                    <lucide-icon name="ChevronRight" class="my-icon"></lucide-icon>
                </button>
            </div>

            <h1 class="mt-10 font-semibold text-3xl">Página Inicial do Spotify</h1>

            <div class="grid grid-cols-3 gap-4 mt-4">
                <a href="#" class="bg-white/5 group rounded-md overflow-hidden flex items-center gap-4 hover:bg-white/10 transition-colors">
                    <img ngSrc="./assets/twice_feel_special.png" width="104" height="104" alt="" />
                    <strong>Feel Special</strong>
                    <button class="w-12 h-12 pl-1 flex items-center justify-center rounded-full bg-green-400 text-black ml-auto mr-3 invisible group-hover:visible">
                        <lucide-icon name="Play" class="my-icon"></lucide-icon>
                    </button>
                </a>
                <a href="#" class="bg-white/5 group rounded-md overflow-hidden flex items-center gap-4 hover:bg-white/10 transition-colors">
                    <img ngSrc="./assets/twice_feel_special.png" width="104" height="104" alt="" />
                    <strong>Feel Special</strong>
                     <button class="w-12 h-12 pl-1 flex items-center justify-center rounded-full bg-green-400 text-black ml-auto mr-3 invisible group-hover:visible">
                        <lucide-icon name="Play" class="my-icon"></lucide-icon>
                    </button>
                </a>
                <a href="#" class="bg-white/5 group rounded-md overflow-hidden flex items-center gap-4 hover:bg-white/10 transition-colors">
                    <img ngSrc="./assets/twice_feel_special.png" width="104" height="104" alt="" />
                    <strong>Feel Special</strong>
                     <button class="w-12 h-12 pl-1 flex items-center justify-center rounded-full bg-green-400 text-black ml-auto mr-3 invisible group-hover:visible">
                        <lucide-icon name="Play" class="my-icon"></lucide-icon>
                    </button>
                </a>
                <a href="#" class="bg-white/5 group rounded-md overflow-hidden flex items-center gap-4 hover:bg-white/10 transition-colors">
                    <img ngSrc="./assets/twice_feel_special.png" width="104" height="104" alt="" />
                    <strong>Feel Special</strong>
                     <button class="w-12 h-12 pl-1 flex items-center justify-center rounded-full bg-green-400 text-black ml-auto mr-3 invisible group-hover:visible">
                        <lucide-icon name="Play" class="my-icon"></lucide-icon>
                    </button>
                </a>
                <a href="#" class="bg-white/5 group rounded-md overflow-hidden flex items-center gap-4 hover:bg-white/10 transition-colors">
                    <img ngSrc="./assets/twice_feel_special.png" width="104" height="104" alt="" />
                    <strong>Feel Special</strong>
                     <button class="w-12 h-12 pl-1 flex items-center justify-center rounded-full bg-green-400 text-black ml-auto mr-3 invisible group-hover:visible">
                        <lucide-icon name="Play" class="my-icon"></lucide-icon>
                    </button>
                </a>
                <a href="#" class="bg-white/5 group rounded-md overflow-hidden flex items-center gap-4 hover:bg-white/10 transition-colors">
                    <img ngSrc="./assets/twice_feel_special.png" width="104" height="104" alt="" />
                    <strong>Feel Special</strong>
                     <button class="w-12 h-12 pl-1 flex items-center justify-center rounded-full bg-green-400 text-black ml-auto mr-3 invisible group-hover:visible">
                        <lucide-icon name="Play" class="my-icon"></lucide-icon>
                    </button>
                </a>
            </div>

            <h1 class="mt-10 font-semibold text-3xl">Feito para Carlos Eduardo Albuquerque</h1>
        </main>
    </div>

    <footer class="bg-zinc-800 border-t border-zinc-700 p-6">footer</footer>
</div>
