<aside class="w-72 rounded-2xl">
    <nav class="w-full py-3  flex items-center justify-around lg:px-6 lg:py-4 lg:gap-4 lg:flex lg:flex-col lg:items-start lg:space-y-5 bg-zinc-900 lg:rounded-2xl fixed bottom-0 lg:static">
        <div class="w-20 flex flex-col items-center lg:flex lg:items-center lg:gap-3 text-zinc-300 text-xs font-semibold cursor-pointer"><lucide-icon name="Home" size="25" class="text-zinc-300"></lucide-icon>Início</div>
        <div class="w-20 flex flex-col items-center lg:flex lg:items-center lg:gap-3 text-zinc-300 text-xs font-semibold cursor-pointer"><lucide-icon name="Search" size="25" class="text-zinc-300"></lucide-icon>Buscar</div>
        <!-- invisible -->
        <div class="w-20 flex flex-col items-center lg:flex lg:items-center lg:gap-3 text-zinc-300 text-xs font-semibold cursor-pointer"><lucide-icon name="Library" size="25" class="my-icon"></lucide-icon>Sua Biblioteca</div>

    </nav>   
</aside>
