<aside class="w-72 rounded-2xl">
    <nav class="px-6 py-4 space-y-5 bg-zinc-900 rounded-2xl">
        <a href="" class="flex items-center gap-3 text-zinc-300 text-base font-semibold text-zinc-200"><lucide-icon name="Home" class="text-zinc-300"></lucide-icon>Início</a>
        <a href="" class="flex items-center gap-3 text-zinc-300 text text-base font-semibold text-zinc-200"><lucide-icon name="Search" class="text-zinc-300"></lucide-icon>Buscar</a>
    </nav>

    <!-- divisao -->
    <div class="w-full p-1 bg-zinc-950"></div>

    <nav class="p-5 pt-5 bg-zinc-900 flex flex-col gap-1 rounded-2xl">
        <div class="p-2 mb-3 flex items-center justify-between">
            <a href="" class="flex items-center gap-3 text-zinc-300 text-base font-semibold text-zinc-200 cursor-pointer"><lucide-icon name="Library" class="my-icon"></lucide-icon>Sua Biblioteca</a>
            <div class="flex gap-3">
                <lucide-icon name="Plus" size="23" class="text-zinc-300 cursor-pointer"></lucide-icon>
                <lucide-icon name="ArrowRight" size="23" class="text-zinc-300 cursor-pointer"></lucide-icon>
            </div>
        </div>

        <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md cursor-pointer">
            <div>
                <img ngSrc="assets/musicas_curtidas.png" width="50" height="50" alt="" class="rounded-md" />
            </div>
            <div class="flex flex-col">
                <span class="">Músicas Curtidas</span>
                <a href="" class="flex items-center text-zinc-400 text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500 text-green-500"></lucide-icon>Playlist • 817 músicas</a>
            </div>
        </div>
        <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md cursor-pointer">
            <div>
                <img ngSrc="assets/melhores_musicas.png" width="50" height="50" alt="" class="rounded-md" />
            </div>

            <div class="flex justify-between">
                <div class="flex flex-col">
                    <span class="">Melhores Músicas</span>
                    <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
                </div>

                <div class="flex items-center">
                    <button class="pl-8 flex items-center justify-center text-green-400">
                        <lucide-icon name="Volume2" size="18" class="my-icon"></lucide-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md cursor-pointer">
            <div>
                <img ngSrc="assets/quero_ferias.png" width="50" height="50" alt="" class="rounded-md" />
            </div>
            <div class="flex flex-col">
                <span class="">Quero Férias</span>
                <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
            </div>
        </div>
        <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md cursor-pointer">
            <div>
                <img ngSrc="assets/kpop.png" width="50" height="50" alt="" class="rounded-md" />
            </div>
            <div class="flex flex-col">
                <span class="">K-Pop</span>
                <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
            </div>
        </div>
        <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md cursor-pointer">
            <div>
                <img ngSrc="assets/melhores_rocks.png" width="50" height="50" alt="" class="rounded-md" />
            </div>
            <div class="flex flex-col">
                <span class="">Melhores Rocks</span>
                <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
            </div>
        </div>
        <div class="p-2 -ml-3 flex gap-3 hover:bg-zinc-800 rounded-md cursor-pointer">
            <div>
                <img ngSrc="assets/top50_korea.png" width="50" height="50" alt="" class="rounded-md" />
            </div>
            <div class="flex flex-col">
                <span class="">Top 50 - Coreia Do Sul</span>
                <a href="" class="flex items-center text-zinc-400"><lucide-icon name="pin" class="size-4 text-green-500"></lucide-icon>Playlist</a>
            </div>
        </div>
    </nav>
</aside>
